html, body {
	margin:          0;
	padding:         0;
	color:           #000;
	background:      #BDD1C8;
	font-family:     'Puritan', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color:           #2E3A34;
	font-family:     arial, sans-serif;
	margin:          0 0 0.25em 0;
	padding:         0;
}

a {
	color:           #000;
	text-decoration: underline;
}

a:hover {
	color:           #888;
}

p {
	margin:          0 0 1em 0;
}

/* Header */
div#header {
	height:          3em;
	margin:          0 auto;
	padding:         0.5em 1em 0 1em;
	position:        relative;
	background:      #2E3A34;
}

div#header h1 {
	width:           700px;
	position:        absolute;
	bottom:          -0.3em;
	left:            0.50em;
	padding:         0;
	margin:          0;
	color:           inherit;
}

div#header h1 a {
	color:           #FFF;
	text-decoration: none;
	border-bottom:   none;
}

div#header ul#nav {
	position:        absolute;
	bottom:          0.2em;
	left:            28em;
	margin:          0;
	padding:         0;
	cursor:          default;
}

div#header ul#nav li {
	display:         block;
	padding-top:     0.73em;
	margin:          0 0.4em;
	float:           left;
	list-style-type: none;
}

div#header ul#nav li a {
	color:           #FFF;
	font-family:     sans-serif;
	text-decoration: none;
	padding:         0.2em;
	border-bottom:   none;
}

div#header ul#nav li a:hover {
	border-bottom:   0.3em solid #2E3A34;
}

/* Content */
div#content {
	padding:         1em;
	background:      #FFF;
}
div#container {
	width:           700px;
}

/* Footer */
div#footer {
	width:           770px;
	font-size:       0.9em;
	text-align:      center;
	padding:         1em 0;
}

div#footer a {
	border-bottom-color: #FFF;
}

/* Figures */
div.photos {
	display:         table;
	text-align:      center;
	margin:          1em auto;
	padding-right:   1em;
}
div.photos div.figure {
	display:         table-cell;
	width:           250px;
	padding:         0 1em;
}
div.figure img {
	border:          2px solid #2E3A34;
}
div.figure span {
	display:         block;
	text-align:      center;
}

/* Blog */
dt {
	width:  128px;
	height: 128px;
	float:  left;
}
dd {
	height: 128px;
	margin: 0.5em 0;
}
