html, body {
	margin:          0;
	padding:         0;
	color:           #000;
	background:      #BDD1C8;
	font-family:     arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color:           #2E3A34;
	font-family:     arial, sans-serif;
	margin:          0 0 0.25em 0;
	padding:         0;
}

a {
	color:           #000;
	text-decoration: underline;
}

a:hover {
	color:           #888;
}

p {
	margin:          0 0 1em 0;
}

/* Header */
div#header {
	height:          3em;
	margin:          0 auto;
	padding:         0.5em 1em 0 1em;
	position:        relative;
	background:      #2E3A34;
}

div#header h1 {
	width:           700px;
	position:        absolute;
	bottom:          -0.3em;
	left:            0.50em;
	padding:         0;
	margin:          0;
	color:           inherit;
}

div#header h1 a {
	color:           #FFF;
	text-decoration: none;
	border-bottom:   none;
}

div#header ul#nav {
	position:        absolute;
	bottom:          0.2em;
	left:            28em;
	margin:          0;
	padding:         0;
	cursor:          default;
}

div#header ul#nav li {
	display:         block;
	padding-top:     0.73em;
	margin:          0 0.4em;
	float:           left;
	list-style-type: none;
}

div#header ul#nav li a {
	color:           #FFF;
	font-family:     sans-serif;
	text-decoration: none;
	padding:         0.2em;
	border-bottom:   none;
}

div#header ul#nav li a.active,
div#header ul#nav li a.active:active,
div#header ul#nav li a.active:focus,
div#header ul#nav li a.active:hover {
	border-bottom:   0.3em solid #2E3A34;
}

div#header ul#nav li a:active,
div#header ul#nav li a:focus,
div#header ul#nav li a:hover {
	border-bottom:   0.3em solid #BDD1C8;
}

/* Special Links */
a.img, a.pdf, a.ppt {
	font-weight: bold;
	padding-right: 20px;
	background-position: right;
	background-repeat: no-repeat;
}

a.img { background-image: url(/images/icon-img.png); }
a.pdf { background-image: url(/images/icon-pdf.gif); }
a.ppt { background-image: url(/images/icon-ppt.png); }

/* Content */
div#content {
	padding:         1em;
	background:      #FFF;
}
div#container {
	width:           700px;
}

/* Footer */
div#footer {
	width:           770px;
	font-size:       0.9em;
	text-align:      center;
	padding:         1em 0;
}

div#footer a {
	border-bottom-color: #FFF;
}

/* Figures */
div.photos {
	display:         table;
	text-align:      center;
	margin:          1em auto;
	padding-right:   1em;
}
div.photos div.figure {
	display:         table-cell;
	width:           250px;
	padding:         0 1em;
}
div.figure img {
	border:          2px solid #2E3A34;
}
div.figure span {
	display:         block;
	text-align:      center;
}

/* Blog */
ul.apps {
	margin:              0;
	padding:             0;
	list-style-type:     none;
}
ul.apps li {
	min-height:          64px;
	padding:             5px 5px 0 74px;
	background-position: middle left;
	background-repeat:   no-repeat;
}
ul.apps li a {
	font-weight:         bold;
}
.app-adium       { background-image: url(/blog/images/icon-adium.png);       }
.app-alfred      { background-image: url(/blog/images/icon-alfred.png);      }
.app-btt         { background-image: url(/blog/images/icon-btt.png);         }
.app-dropbox     { background-image: url(/blog/images/icon-dropbox.png);     }
.app-caffeine    { background-image: url(/blog/images/icon-caffeine.png);    }
.app-fantastical { background-image: url(/blog/images/icon-fantastical.png); }
.app-gitx        { background-image: url(/blog/images/icon-gitx.png);        }
.app-reeder      { background-image: url(/blog/images/icon-reeder.png);      }
