html, body {
	margin:          0;
	padding:         0;
	font-family:     'Puritan', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color:           #333;
	font-family:     arial, sans-serif;
	margin:          0 0 0.25em 0;
	padding:         0;
}

p {
	margin:          0 0 1em 0;
}

/* Header */
div#header {
	color:           #FFF;
	background:      #000;
	height:          3em;
	padding:         0.5em 1em 0 1em;
	margin:          0 0 0.75em 0;
	position:        relative;
}

div#header h1 {
	position:        absolute;
	bottom:          -0.25em;
	left:            0.50em;
	padding:         0;
	margin:          0;
	color:           inherit;
}

div#header h1 a {
	color:           inherit;
	text-decoration: none;
}

div#header ul#nav {
	position:        absolute;
	bottom:          0.2em;
	right:           1em;
	margin:          0;
	padding:         0;
	cursor:          default;
}

div#header ul#nav li {
	display:         block;
	padding-top:     0.73em;
	margin:          0 0.4em;
	float:           left;
	list-style-none: none;
}

div#header ul#nav li a {
	color:           inherit;
	font-family:     sans-serif;
	text-decoration: none;
	padding:         0.2em;
}

div#header ul#nav li a:hover {
	border-bottom:   0.3em solid #000;
}

/* Content */
div#content {
	padding:         0.5em;
}

/* Footer */
div#footer {
	border-top:      1px solid #666;
	font-size:       0.9em;
	text-align:      center;
}
