/* Header */
div#header {
	background: #000;
	color:      #FFF;
}

div#header h1 {
	color:       #333;
	font-family: sans-serif;
	font-size:   2.5em;
	margin:      0 0 -1em 0;
	padding:     0;
	cursor:      default;
}

div#header ul#nav {
	height:        1.9em;
	margin:        0;
	padding:       0;
	cursor:        default;
}

div#header ul#nav li {
	display:         block;
	padding-top:     0.73em;
	margin:          0 0.4em;
	float:           right;
	list-style-none: none;
}

div#header ul#nav li a {
	color:           #000;
	font-family:     sans-serif;
	text-decoration: none;
	padding:         0.2em;
}

div#header ul#nav li a:hover {
	border-bottom: 0.2em solid #000;
}

/* Content */
div#content {
	border:  2px solid #000;
	padding: 0.5em;
}

/* Footer */
div#footer {
	font-size:  0.9em;
	text-align: center;
}
