<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="../style.css"/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Puritan"/>
</head>
<body>

<div id="header">
	<h1><a href="/">Michael Koval</a></h1>
	<ul id="nav">
		<li><a href="/">About</a></li>
		<li><a href="/resume">Résumé</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/projects">Projects</a></li>
	</ul>
</div>

<div id="content">
{{ content }}
</div>

<div id="footer">
<p>&copy;2011 Michael Koval. All rights reserved.</p>
<p>For questions or comments about this site, please contact Michael Koval at <a href="mailto:koval.michael@gmail.com">koval.michael@gmail.com</a>.</p>
</div>

</body>
</html>
